header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:  -webkit-sticky;
}

img {
    width: 20em;
    height: 3em;
    float: left;
}

ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 5.5em;
}

ul li:nth-child(3) {
    padding-right: 5em;
}

.sub-header-info {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.features-row {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.features-icon {
    width: 9em;
}
.features-icon i {
    color: gold;
    margin-top: 0.4em;
}

a {
    text-decoration: none;
}

.features-text {
    margin-left: 1.5rem;
}

